* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-links {
  display: flex;
  width: 500px;
  justify-content: space-between;
  text-decoration-style: none;
}

.nav-links li {
  list-style-type: none;
}
